article#full {
  margin: 4em;
}

article#full header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article#full .created {
  margin-right: 1em;
}

article#full h1 {
  flex: 100%;
  font-weight: normal;
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--common-accent);
}

article#full li {
  margin-left: 2em;
}

article#full .keywords,
article#full .timestamps {
  font-size: 0.8em;
}

article#full h2 {
  color: var(--syntax-regexp);
}
