/* RESET */

ul, li, a, img {
  padding: 0;
  margin: 0;
}

/* VARIABLES */

:root {
  --code-font: 14px monospace;

  --background: var(--nord0);
  --panel: var(--nord1);
  --active: var(--nord2);
  --disable: var(--nord3);

  --extra-ui: var(--nord4);
  --main-text: var(--nord5);
  --elevated-text: var(--nord6);

  --standout-ui: var(--nord7);
  --primary-ui: var(--nord8);
  --secondary-ui: var(--nord9);
  --tertiary-ui: var(--nord10);

  --error: var(--nord11);
  --advanced: var(--nord12);
  --warning: var(--nord13);
  --success: var(--nord14);
  --rare: var(--nord15);
}

/*--------------------------------------------------------------------------
  Formatting for F# code snippets
/*--------------------------------------------------------------------------*/

span.s { color: var(--nord14); } /* strings --- and styles for other string related formats */

span.pf { color: var(--nord11); } /* printf formatters */
span.e { color: var(--nord13); } /* escaped chars */

span.i { color: var(--nord4); } /* identifiers --- and styles for more specific identifier types */
span.t { color: var(--nord7); } /* type or module */
span.f { color: var(--nord8); } /* function */
span.p { color: var(--nord9); } /* DU case or active pattern */

span.k { color: var(--nord9); } /* keywords */
span.c { color: var(--nord3); } /* comment */
span.o { color: var(--nord9); } /* operators */
span.n { color: var(--nord15); } /* numbers */
span.l { color: var(--nord3); } /* line number */
span.v { color:#d1d1d1; font-weight: bold; } /* mutable var or ref cell */
span.inactive { color: var(--nord2); } /* inactive code */
span.prep { color: var(--nord10); } /* preprocessor */
span.fsi { color: var(--nord11); } /* fsi output */

/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font:11pt arial, sans-serif;
	padding:6px 8px 6px 8px;
	display:none;
  color:#d1d1d1;
  pointer-events:none;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border:none;
}
table.pre, pre.fssnip, pre {
  line-height:13pt;
  border:1px solid var(--standout-ui);
  border-collapse:separate;
  white-space:pre;
  font: var(--code-font);
  width:90%;
  margin:10px 20px 20px 20px;
  background-color: var(--panel);
  padding:10px;
  border-radius:5px;
  color: var(--main-text);
  max-width: none;
}
pre.fssnip code {
  font: 14px monospace;
  background-color: var(--panel);
}
table.pre pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
  width: 100%;
}
table.pre td {
  padding:0px;
  white-space:normal;
  margin:0px;
}
table.pre td.lines {
  width:30px;
}

/*--------------------------------------------------------------------------
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

body {
  background-color: var(--background);
  color: var(--main-text);
  display: flex;
  font-family: sans-serif;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 40px;
}

pre {
  word-wrap: inherit;
}

code {
  font: var(--code-font);
  background-color: var(--panel);
  padding: 2px 4px;
}

a, a:visited {
  text-decoration: none;
  color: var(--success);
}

a:hover {
  color: var(--warning);
}

h5 {
  color: var(--nord7);
}

h1, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h2 {
  margin-top: 4em;
  margin-bottom: 0;
}

/* Make table headings and td.title bold */
td.title, thead {
  font-weight:bold;
}

/* Format the menu */
#menu {
  background-color: var(--panel);
  color: var(--disable);
  min-width: 236px;
  padding: 8px;
}

[tooltip]:before {
  opacity: 0;
}

[tooltip]:hover:before {
  background-color: var(--disable);
  color: var(--warning);
  content: attr(tooltip);
  margin-top: 36px;
  opacity: 1;
  padding: 4px;
  position: absolute;
}

#menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

#menu ul ul {
  padding-left: 1em;
}

#menu header {
  display: flex;
}

#menu h1 {
  margin-left: 1em;
  margin-top: 4px;
  margin-bottom: 1em;
  font-size: larger;
  color: var(--secondary-ui);
}

#menu h1 span {
  color: var(--warning)
}

#menu h2 {
  margin-bottom: 4px;
  font-size: inherit;
  background-color: var(--disable);
  color: var(--elevated-text);
  padding: 8px;
}

#menu a {
  display: block;
  color: var(--tertiary-ui);
  font-size: smaller;
  padding: 4px;
  width: 100%;
}

#menu a:hover {
  background-color: var(--disable);
}

#menu a.current {
  background-color: var(--background);
  color: var(--elevated-text);
}

#content {
  max-width: 1024px;
  line-height: 1.5em;
  padding: 32px;
}

/*--------------------------------------------------------------------------
  Links
/*--------------------------------------------------------------------------*/

h1 a, h1 a:hover, h1 a:focus,
h2 a, h2 a:hover, h2 a:focus,
h3 a, h3 a:hover, h3 a:focus,
h4 a, h4 a:hover, h4 a:focus,
h5 a, h5 a:hover, h5 a:focus,
h6 a, h6 a:hover, h6 a:focus { color : inherit; text-decoration : inherit; outline:none }


/* Social Icons */

#social {
  margin-bottom: 1em;
}

#social ul {
  display: flex;
  width: 100%;
}

#social li,
#social a {
  display: block;
  height: 32px;
}

#social a {
  padding: 2px 4px;
  width: auto;
}

#social img,
img.logo {
  width: 32px;
  height: 32px;
}

h5,
.timestamps {
  color: var(--standout-ui);
  font-family: monospace;
  font-size: small;
  font-weight: bold;
  width: 11em;
  min-width: 11em;
}

.timestamps {
  text-align: right;
}
