@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


ul, li, a, img {
  padding: 0;
  margin: 0;
}

ul {
  margin-bottom: 1em;
}
:root {
  --black: #222222;
  --white: #dddddd;
  --bright: #00a7e1;
  --dark: #003459;
  --dull: #007ea7;

  --background: var(--black);
  --panel: #333;
  --active: #444;
  --border: #666;

  --extra-ui: var(--nord4);
  --main-text: var(--white);
  --elevated-text: var(--bright);

  --standout-ui: var(--nord7);
  --primary-ui: var(--border);
  --tertiary-ui: var(--bright);

  --error: var(--nord11);
  --advanced: var(--nord12);
  --warning: var(--nord13);
  --success: var(--nord14);
  --rare: var(--nord15);

  --code-font: 14px monospace;
  --code-color: var(--nord5);
  --code-background: var(--panel);
  --code-border: var(--border);
  --menu-hover: var(--dark);
  --article-index: var(--panel);
  --links: var(--success);
  --links-hover: var(--warning);
  --tooltip-background: var(--panel);
  --tooltip-text: var(--warning);
  --minor-info: var(--active);


  --menu-width: 280px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------------------------------------
  Formatting for F# code snippets
/*--------------------------------------------------------------------------*/

span.s { color: var(--nord14); } /* strings --- and styles for other string related formats */

span.pf { color: var(--nord11); } /* printf formatters */
span.e { color: var(--nord13); } /* escaped chars */

span.i { color: var(--nord4); } /* identifiers --- and styles for more specific identifier types */
span.t { color: var(--nord7); } /* type or module */
span.f { color: var(--nord8); } /* function */
span.p { color: var(--nord9); } /* DU case or active pattern */

span.k { color: var(--nord9); } /* keywords */
span.c { color: var(--nord3); } /* comment */
span.o { color: var(--nord9); } /* operators */
span.n { color: var(--nord15); } /* numbers */
span.l { color: var(--nord3); } /* line number */
span.v { color:#d1d1d1; font-weight: bold; } /* mutable var or ref cell */
span.inactive { color: var(--nord2); } /* inactive code */
span.prep { color: var(--nord10); } /* preprocessor */
span.fsi { color: var(--nord11); } /* fsi output */

/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font: 11pt "Open Sans", sans-serif;
	padding:6px 8px 6px 8px;
	display:none;
  color:#d1d1d1;
  pointer-events:none;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border:none;
}
table.pre, pre.fssnip, pre {
  line-height:13pt;
  border:2px solid var(--code-border);
  border-collapse:separate;
  white-space:pre;
  font: var(--code-font);
  width:100%;
  margin: 0;
  background-color: var(--code-background);
  padding:10px;
  border-radius:5px;
  color: var(--main-text);
  max-width: none;
}
pre.fssnip code {
  font: 14px monospace;
  background-color: var(--code-background);
}
table.pre pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
  width: 100%;
}
table.pre td {
  padding:0px;
  white-space:normal;
  margin:0px;
}
table.pre td.lines {
  width:30px;
}

table.pre code, table.pre pre, pre code {
  background: none;
  padding: 0;
}

/*--------------------------------------------------------------------------
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

body {
  background-color: var(--background);
  color: var(--main-text);
  display: flex;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 40px;
}

pre {
  word-wrap: inherit;
}

code {
  font: var(--code-font);
  color: var(--code-color);
  background-color: var(--code-background);
  padding: 2px 4px;
  border-radius: 3px;
}

a, a:visited {
  text-decoration: none;
  color: var(--links);
}

a:hover {
  color: var(--links-hover);
}

h1 {
  margin-top: 2em;
}

header h1 {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h2 {
  margin-top: 2em;
}

/* Make table headings and td.title bold */
td.title, thead {
  font-weight:bold;
}


#search {
  width: 100%;
  display: flex;
}

#search input {
  width: 100%;
  font-size: 1.2em;
  border: solid var(--primary-ui) 2px;
  border-bottom: 0;
  background: var(--active);
  padding: 4px;
  color: var(--white);
}

/* Format the menu */
#menu {
  background-color: var(--panel);
  color: var(--border);
  min-width: var(--menu-width);
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

[tooltip]:before {
  opacity: 0;
}

[tooltip]:hover:before {
  background-color: var(--tooltip-background);
  border-radius: 0 4px 4px 4px;
  color: var(--tooltip-text);
  font-size: small;
  content: attr(tooltip);
  margin-top: 48px;
  opacity: 1;
  padding: 4px 16px;
  position: absolute;
}

#menu header {
  padding: 8px;
}

#menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

#menu ul ul {
  padding-left: 1em;
}

#menu header {
  display: flex;
}

#menu h1 {
  margin-left: 1em;
  margin-top: 4px;
  margin-bottom: 1em;
  font-size: larger;
  color: var(--white);
}

#menu h1 span {
  color: var(--warning)
}

#menu h2 {
  margin-bottom: 4px;
  font-size: inherit;
  background-color: var(--active);
  color: var(--white);
  padding: 8px;
}

#menu a {
  display: block;
  color: var(--tertiary-ui);
  font-size: smaller;
  padding: 4px;
  width: 100%;
}

#menu a:hover {
  background-color: var(--menu-hover);
}

#menu a.current {
  background-color: var(--background);
  color: var(--white);
  border-radius: 4px 0 0 4px;
}

#content {
  margin-left: var(--menu-width);
  max-width: 1024px;
  line-height: 1.5em;
  padding: 64px;
}

#content header,
article header {
  display: flex;
  justify-content: space-between;
}

.keywords {
  color: var(--minor-info);
}

/*--------------------------------------------------------------------------
  Links
/*--------------------------------------------------------------------------*/

h1 a, h1 a:hover, h1 a:focus,
h2 a, h2 a:hover, h2 a:focus,
h3 a, h3 a:hover, h3 a:focus,
h4 a, h4 a:hover, h4 a:focus,
h5 a, h5 a:hover, h5 a:focus,
h6 a, h6 a:hover, h6 a:focus { color : inherit; text-decoration : inherit; outline:none }

/* Subject Index */

#subjects {
  overflow-y: auto;
  overflow-x: hidden;
  flex: auto;
}


/* Social Icons */

#social {
  width: 100%;
  padding: 32px 0;
}

#social ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#social li,
#social a {
  display: block;
}

#social a {
  height: 32px;
  padding: 4px;
  width: auto;
  border-radius: 4px;
}

#social img,
img.logo {
  width: 32px;
  height: 32px;
}

.timestamps {
  color: var(--main-text);
  font-size: small;
  font-weight: bold;
  width: 11em;
  min-width: 11em;
  line-height: normal;
  text-align: right;
}

