article.summary {
  background-color: var(--article-index);
  padding: 16px;
  margin: 16px 0;
  border-radius: 4px;
}

article.summary header {
  margin-bottom: 1em;
}

article.summary h1 {
  margin: 0;
}

article.summary h1 a,
article.summary h1 a:visited {
  color: var(--links);
}

article.summary h1 a:hover {
  color: var(--links-hover);
}
