
ul {
  list-style-type: none;
}

#menu a {
  padding: 8px 4px;
}

#menu h1 {
  color: var(--logo-color);
}

a:hover {
  color: var(--links);
  background-color: var(--pale);
}

#menu a.current {
  color: var(--accent1);
}


article h1 a,
article h1 a:visited {
  color: var(--main-text);
  font-weight: normal;
  font-size: x-large;
}

article h1 a:hover {
  color: var(--links);
  background: none;
}
