:root {
  --very-dark: #031119;
  --dark: #131e30;
  --medium: #13556a;
  --light: #6f9db3;
  --accent1: #fc6a55;
  --accent2: #fdc79c;
  --sky: #95c4d9;
  --white: #e5e9f0;
  --pale: rgba(149, 196, 217, 0.5); /* Same as sky */
  --logo-color: #00a6d7;

  --background: var(--white);
  --panel: var(--dark);
  /* --active: */
  --disable: var(--dark);

  /* --extra-ui: var(--); */
  --main-text: var(--very-dark);
  --elevated-text: var(--accent1);

  --standout-ui: var(--dark);
  /* --primary-ui: var(--nord8); */
  --secondary-ui: var(--medium);
  --tertiary-ui: var(--light);

  --error: var(--nord11);
  --advanced: var(--nord12);
  --warning: var(--medium);
  --success: var(--light);
  --rare: var(--nord15);

  --menu-hover: var(--medium);
  --code-color: var(--dark);
  --code-background: var(--pale);
  --code-border: var(--light);
  --article-index: var(--pale);
  --links: var(--accent1);
  --links-hover: var(--accent2);
  --tooltip-background: var(--medium);
  --tooltip-text: var(--light);
  --minor-info: var(--light);
}

ul {
  list-style-type: none;
}

#menu a {
  padding: 8px 4px;
}

#menu h1 {
  color: var(--logo-color);
}

a {
  font-weight: bold;
}

a:hover {
  color: var(--links);
  background-color: var(--links-hover);
}
